body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /*kullanıcının görmüş olduğu yükseklik kadar */
}
.container {
    width: 400px;
}

#progress .times,
.card-footer,
.volume-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.volume-container i {
    margin-right: 15px;
    
}

li.playing {
    background-color:cornflowerblue ;
    color: #fff;
}


